

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family:Inter, "Segoe UI", Arial, sans-serif;
  color:#00a2ca;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4px;
  padding:50px;
}


input[type="text"]{
  padding:10px 12px;
  width:320px;
  border:5px solid #000000;
  border-radius:8px;
  background:#f0f0f0;
}

input[type="button"]{
  width:320px;
  padding:20px 12px;
  margin-bottom: 10px;
  border-radius:80px;
  background:#111827;
  color:#fff;
  cursor:pointer;
}


ul{
    width:100%; 
    display:flex; 
    flex-direction:column; 
    gap:14px; 
    align-items:center
    
}


#notasUrgentes,#notasNaoUrgentes{
  width:400px;
  padding:18px;
  border-radius:14px;
  background:rgba(255,255,255,0.85);
  display:flex;
  flex-direction:column;
  gap:12px;
}

#notasUrgentes {
    border: rgb(201, 0, 0) 10px solid;
}
#notasNaoUrgentes {
    border: rgb(201, 198, 0) 10px solid;
}

#Urg{
    color: #c90c0c;
}

#nUrg {
    color: #c2bf00;
}

#notasUrgentes li,#notasNaoUrgentes li{
  width:100%;
  padding:14px 16px;
  box-shadow:0 6px 18px rgba(2,6,23,0.06);
  display:flex;
  align-items: center;
  justify-content: center;
}


#azul{ color:#0b3d91; font-weight:600; }
#verde{ color:#1f6f00; font-weight:600; }
#roxo{ color:#4b0082; font-weight:600; }

